@using System.Collections
<h1>Hello @Context.User.Identity.Name</h1>  
@*<a href="@Url.Action("Logoff")">Logoff</a>*@
<a href="https://ibank.staging.rapidsoft.ru:443/LogOn/LogOff">Logoff</a>
<br>
<br>
Context.Items<br>
@foreach (DictionaryEntry item in HttpContext.Current.Items)
{
	if (item.Key is string && item.Value is string)
	{
		@item.Key @(" = ") @item.Value <br>
	}
}
<br>
<br> 
Request.ServerVariables<br>
@foreach (string key in HttpContext.Current.Request.ServerVariables)
{
	@key @(" = ") @HttpContext.Current.Request.ServerVariables[key] <br>
}

<br>
<br>
Request.Cookies<br>
@foreach (string key in HttpContext.Current.Request.Cookies)
{
	@key @(" = ") @HttpContext.Current.Request.Cookies[key].Value <br>
}